<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="config.properties" />
    <!-- 控制台输出配置 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="com.csair.admin.util.LocalPatternLayoutEncoder">
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%userId] %c %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 日志文件输出配置 -->
    <appender name="logInfoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.filePath}/${log.fileName}</file>
        <encoder class="com.csair.admin.util.LocalPatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %p - %userId - %c - %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.fileName}-%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <!--第三方 jar 日志输出配置 -->
    <logger name="com.csair.admin.core" level="DEBUG"/>
    <logger name="org.apache.commons" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.mybatis.spring" level="INFO"/>
    <!-- 日志输出适配器配置 -->
    <root level="${log.level}" name="com.csair.admin">
        <!--输出到控制台-->
        <appender-ref ref="stdout"/>
        <!--输出到日志文件-->
        <appender-ref ref="logInfoFile"/>
    </root>
</configuration>