/*边距公用*/
.mt80 {
    margin-top: 80px;
}

.mt8 {
    margin-top: 8px;
}

.mt60 {
    margin-top: 60px;
}

.pt8 {
    padding-top: 8px;
}

.mt28 {
    margin-top: 28px;
}

.mt30 {
    margin-top: 30px;
}

.mt16 {
    margin-top: 16px;
}

.mr8 {
    margin-right: 8px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15%;
}

.mr20 {
    margin-right: 20px;
}

.mb18 {
    margin-bottom: 18px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb0 {
    margin-bottom: 0px;
}

.ml40 {
    margin-left: 40px;
}

.ml32 {
    margin-left: 32px;
}

.ml10 {
    margin-left: 10px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.bgcWhite {
    background-color: #fff;
!important;
}

/*  header S */
.header {
    background: #fff;
    height: 80px;
    border-bottom: 1px solid #E5E5E5;
    padding: 0 30px 0 25px;
    width: 100%;
}

.header .head_l {
    padding-top: 18px;
}

.header .head_l .linkA {
    display: inline-block;
}

.header .head_l img {
    width: 225px;
    vertical-align: middle;
    padding-right: 55px;
}

.header .head_l span {
    font-size: 20px;
    padding-left: 25px;
    /*margin-bottom: 20px;*/
    vertical-align: middle;
    display: inline-block;
}

.header .head_r {
    position: relative;
    float: right;
}

.header .head_r .person {
    width: 170px;
    /*border-left: 1px solid #e5e5e5;*/
    padding-left: 30px;
    padding-top: 20px;
    height: 60px;
    display: inline-block;
}

.person img, .person span, .person i {
    vertical-align: middle;
    cursor: pointer;
}

.head_r .person img {
    width: 45px;
    border-radius: 50%;
    display: inline-block;
}

.head_r .person span {
    font-size: 16px;
    margin-left: 7px;
}

.head_r .person i {
    display: inline-block;
    width: 10px;
    height: 8px;
    margin-left: 7px;
    background: url('/image/index/icon.png') no-repeat;
    background-position: -285px -21px;
}

.head_r .close {
    width: 100px;
    height: 80px;
    display: inline-block;
    position: relative;
    border-left: 1px solid #e5e5e5;
!important;
}

.head_r .close i {
    display: inline-block;
    width: 24px;
    height: 30px;
    background: url("/image/index/iconnew.png") no-repeat;
    background-position: -193px -498px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 24px;
    margin-left: -16px;
}

.header .head_r ul {
    width: 265px;
}

.header .head_r li a {
    width: 30px;
    height: 28px;
    display: block;
    margin-right: 60px;
    margin-top: 25px;
}

.header .head_r .one {
    background: url("/image/index/icon.png") no-repeat;
    background-position: -208px -1px;
}

.header .head_r .two {
    background: url("/image/index/icon.png") no-repeat;
    background-position: -247px -1px;
}

.header .head_r li .three {
    background: url("/image/index/icon.png") no-repeat;
    background-position: -300px -1px;
    position: relative;
    margin-right: 30px;
}

.head_r .three i {
    display: block;
    width: 20px;
    height: 20px;
    color: #fff;
    background: #FF480B;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -10px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    border: 2px solid #fff;
}

/*  气泡 S */
.top_tip {
    position: absolute;
    left: -168px;
    top: 80px;
    width: 420px;
    height: 270px;
    background: #fff;
    box-shadow: 0 0 8px 2px #e2e2e2;
    display: none;
}

.top_tip:before {
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    right: 11%;
    top: -9px;
    background: #fff;
    box-shadow: 0 0 8px 2px #e2e2e2;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.top_tip:after {
    content: '';
    *zoom: 1;
    width: 35px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 9%;
}

.top_tip .list ol {
    padding: 30px 20px;
    padding: 22px 20px \0;
}

:root .top_tip .list ol {
    padding: 30px 20px;
}

.top_tip li {
    padding-bottom: 15px;
    padding-left: 50px;
    line-height: 26px;
    position: relative;
}

.top_tip li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.list .list_1 em, .list .list_2 em {
    width: 27px;
    height: 24px;
    display: inline-block;
    background: url("/image/index/icon.png") no-repeat;
/ / background-position: - 289 px - 1 px;
    background-position: -336px -1px;
    background-size: 320px;
    position: absolute;
    left: 16px;
    top: 4px;
}

:root .list .list_1 em, .list .list_2 em {
    background-position: -289px -1px;
}

.list .list_2 {
    color: #FF7373;
}

.list .list_2 em {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FF7373;
    color: #fff;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
}

.list li b {
    color: #b6b6b6;
}

.list a {
    height: 38px;
    line-height: 37px;
    display: block;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-left: 0;
    border-right: 0;
}

.list a:hover {
    color: #11a9ec;
}

/*  header E */
.contentBody {
    background-color: #f2f2f2;
    width: 100%;
    position: relative;
}

.contentBody .comLeftMenu {
    position: absolute;
}

/*左侧菜单*/
.left_menu {
    width: 230px;
    height: 100%;
    background: #fff;
    z-index: 100;
}

.left_menu_list > li {
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    width: 100%;
    padding: 0 32px;
    border-bottom: 1px solid #e5e5e5;
}

.left_menu_list .txt {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    width: 66%;
    text-align: center;
}

.left_menu_list > li:last-child {
    border: 0;
}

.left_menu_list > li.on {
    background: #11a9ec;
    color: #fff;
    margin: 0;
}

.left_menu_list > li i {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 auto;
    background: url("/image/index/icon1.png") no-repeat;
    vertical-align: middle;
}

.left_menu_list > li em {
    display: inline-block;
    width: 20px;
    height: 14px;
    background: url("/image/index/icon1.png") no-repeat;
    background-position: -88px -575px;
    vertical-align: middle;
}

.left_menu_list > li i.i_1 {
    background-position: -25px -298px;
}

.left_menu_list > li i.i_2 {
    background-position: -78px -298px;
}

.left_menu_list > li i.i_3 {
    background-position: -133px -296px;
}

.left_menu_list > li i.i_4 {
    background-position: -192px -298px;
}

.left_menu_list > li i.i_5 {
    background-position: -252px -300px;
}

.left_menu_list > li i.i_6 {
    background-position: -27px -355px;
}

.left_menu_list > li i.i_7 {
    background-position: -79px -355px;
}

.left_menu_list > li i.i_8 {
    background-position: -134px -353px;
}

.left_menu_list > li i.i_9 {
    background-position: -191px -355px;
}

.left_menu_list > li i.i_10 {
    background-position: -251px -355px;
}

.left_menu_list > li i.i_11 {
    background-position: -25px -418px;
}

/* 当前选中li具有的样式  */
.left_menu_list > li.on i.i_1 {
    background-position: -25px -108px;
}

.left_menu_list > li.on i.i_2 {
    background-position: -77px -108px;
}

.left_menu_list > li.on i.i_3 {
    background-position: -132px -108px;
}

.left_menu_list > li.on i.i_4 {
    background-position: -192px -108px;
}

.left_menu_list > li.on i.i_5 {
    background-position: -252px -111px;
}

.left_menu_list > li.on i.i_6 {
    background-position: -26px -167px;
}

.left_menu_list > li.on i.i_7 {
    background-position: -78px -167px;
}

.left_menu_list > li.on i.i_8 {
    background-position: -133px -166px;
}

.left_menu_list > li.on i.i_9 {
    background-position: -189px -166px;
}

.left_menu_list > li.on i.i_10 {
    background-position: -252px -166px;
}

.left_menu_list > li.on i.i_11 {
    background-position: -24px -231px;
}

/*左侧二级菜单*/
.left_menu_next {
    width: 220px;
    height: 100%;
    background: #11a9ec;
    color: #fff;
    position: absolute;
    left: 230px;
    top: 0px;
    padding: 10px 30px;
    z-index: 10;
    display: none;
}

.left_menu_next dd {
    display: none;
}

.left_menu_next dd.show {
    display: block;
}

.left_menu_next .toggle_left_menu {
    display: block;
    width: 38px;
    height: 64px;
    background: #11a9ec;
    position: absolute;
    right: -38px;
    top: 50%;
    margin-top: -32px;
    cursor: pointer;
}

.left_menu_next .toggle_left_menu i {
    display: block;
    width: 15px;
    height: 20px;
    margin: 22px auto;
    background: url('/image/index/icon.png') no-repeat;
    background-position: -351px -66px;
}

.left_menu_next a {
    color: #fff;
    display: block;
}

.menu_next_list > li > a {
    font-size: 18px;
    border-bottom: 1px solid #2DB6F0;
    padding: 20px 0;
    position: relative;
}

.menu_next_list > li > a i {
    display: block;
    width: 15px;
    height: 10px;
    background: url("/image/index/icon.png") no-repeat;
    background-position: -282px -5px;
    position: absolute;
    right: 0;
    top: 27px;
    transition: all 0.2s;
}

.menu_next_list > li > a.on i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.menu_next_list ol {
    display: none;
}

.left_menu_next a:hover {
    color: #fff;
    background: #33b8f0;
}

.left_menu_next ol {
    padding-top: 15px;
}

.left_menu_next ol a {
    padding: 8px 0;
    font-size: 16px;
}

/*  右边部分开始 */
.rightContent {
    margin-left: 255px;
    overflow: hidden;
    /*min-height: 1000px;*/
}

/*---------------------  顶部的tab栏  -------------------------*/
.rightHeader {
    height: 50px;
    background-color: #fff;
    padding-left: 25px;
    font-size: 18px;
    padding-top: 10px;
    margin-left: 230px;
}

.rightContent .viewHeader {
    width: 100%;
    padding: 25px 0 0 25px;
    height: 460px;
}

.viewHeader .sec_right {
    background: #fff;
    margin-right: 0;
    position: relative;
    float: left;
    box-shadow: 0 0 10px 2px #e2e2e2;
    border-radius: 15px;
    padding: 3%;
    width: 565px;
    height: 410px;
}

.viewHeader .sec_right h4 {
    font-size: 18px;
}

.viewHeader .sec_right i {
    right: 45px;
    top: 45px;
    display: block;
    width: 6px;
    height: 6px;
    background: #333;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

.viewHeader .sec_right ol li {
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 50px;
    line-height: 26px;
    position: relative;
}

.viewHeader .sec_right li b {
    color: #b6b6b6;
}

.viewHeader .sec_right li:last-child {
    border-bottom: 0;
}

.viewHeader ol .right_1 em {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("/image/index/icon1.png") no-repeat;
    background-position: -27px -767px;
    position: absolute;
    left: 6px;
}

.viewHeader .sec_right .right_2 {
    color: #FF7373;
}

.viewHeader .sec_right .right_2 em {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #FF7373;
    color: #fff;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    font-weight: bold;
}

.viewHeader .sec_right .right_2 em {
    position: absolute;
    left: 2px;
    top: 22px;
    display: inline-block;
}

.viewHeader .sec_right .right_2 {
    color: #FF7373;
}

.viewHeader .sec_right li b {
    color: #b6b6b6;
}

.viewHeader .viewRight {
    margin-left: -580px;
}

.viewHeader .viewRight ul li {
    float: left;
    width: 12%;
    height: 190px;
    background-color: #fff;
    margin: 0 0 20px 22px;
    box-shadow: 0 0 10px 2px #e2e2e2;
    border-radius: 15px;
}

.viewHeader .viewRight ul li .marginStyle {
    margin: 48px 0 10px 36px;
    font-size: 16px;
}

.viewHeader .viewRight ul li .num {
    font-size: 40px;
    text-align: center;
}

.viewHeader .viewRight ul li .color1 {
    color: #79cd4e;
}

.viewHeader .viewRight ul li .color2 {
    color: #fdbb41;
}

.viewHeader .viewRight ul li .color3 {
    color: #ff7a4d;
}

.viewHeader .viewRight ul li .color4 {
    color: #4da6ff;
}

.viewHeader .viewRight ul li .color5 {
    color: #9999ff;
}

/*下面的列表*/
.rightContent .msg_list {
    width: 96%;
    padding-left: 25px;
}

.rightContent .msg_list p {
    font-size: 16px;
}

.rightContent .msg_list dl {
    margin-top: 18px;
    overflow: hidden;
    border: 1px solid #e5e5e5;
}

.rightContent .msg_list dl dt {
    height: 70px;
    line-height: 70px;
    background: #F6F6F6;
}

.rightContent .msg_list dl span {
    float: left;
    width: 16.6%;
    text-align: center;
}

.rightContent .msg_list dl dd {
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.rightContent .msg_list dl dd {
    height: 70px;
    line-height: 70px;
}

.msg_list dl span {
    float: left;
    text-align: center;
}

.msg_list dl dd span.money {
    color: #ff7373;
    font-size: 16px;
}

.msg_list dl dd span.unpaid {
    color: #ff5b26;
    font-size: 15px;
}

.msg_list dl dd span.paid {
    color: #79cd4c;
    font-size: 15px;
}

.msg_list dl dd span em {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/image/index/icon1.png") no-repeat;
    vertical-align: middle;
}

.msg_list dl dd span em.unpaid {
    background-position: -29px -636px;
}

.msg_list dl dd span em.paid {
    background-position: -82px -636px;
}

.msg_list dl dd .faEye {
    position: relative;
}

.msg_list dl dd span .eye {
    display: inline-block;
    width: 52px;
    height: 30px;
    background-color: #ff5c26;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    margin-top: 18px;
    left: 40%;
}

.msg_list dl dd span .eye em {
    display: inline-block;
    width: 50px;
    height: 60px;
    background: url("/image/index/icon1.png") no-repeat;
    background-position: -13px -694px;
    overflow: hidden;
}

/*---------------------------------      goodsRecycle.html     --------------------------------------*/
.search {
    height: 180px;
    background-color: #fff;
    width: 100%;
    padding-top: 30px;
    padding-left: 20px;
}

.search ul li {
    float: left;
    margin-bottom: 20px;
    margin-right: 3%;
}

.search ul li .icon-sousuo {
    vertical-align: middle;
    margin-right: 5px;
}

/*.search ul li.wid18{*/
/*width: 18%;*/
/*}*/
/*.search ul li.wid20{*/
/*width: 20%;*/
/*}*/
/*.search ul li.wid22{*/
/*width: 22%;*/
/*}*/
/*.search ul li.wid24{*/
/*width: 24%;*/
/*}*/
/*.search ul li.wid28{*/
/*width: 28%;*/
/*}*/
/*.search ul li.wid30{*/
/*width: 30%;*/
/*}*/
/*.search ul li.wid32{*/
/*width: 32%;*/
/*}*/
/*.search ul li.wid36{*/
/*width: 36%;*/
/*}*/
/*.search ul li.wid34{*/
/*width: 34%;*/
/*}*/
/*.search ul li.wid38{*/
/*width: 38%;*/
/*}*/
.mr20 {
    margin-right: 20px;
}

.mr40 {
    margin-right: 40px;
}

.search .size-L {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    padding-left: 15px;
}

.search .txtH {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
}

select.select {
    width: 150px;
    height: 40px;
    line-height: 40px;
    padding-right: 20px;
    text-indent: 4px;
    vertical-align: middle;
    border: 1px solid #acacac;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

select.select option {
    padding: 4px 10px 4px 10px;
    font-size: 11px;
    font-weight: normal;
}

/*------   select样式S   */
.selectOption {
    display: inline-block;
    margin-bottom: 0px;
}

.selectOption .inlinew {
    margin-bottom: 0px;
}

.selectOption .inlinew .selectHnew {
    width: 100%;
    height: 44px;
    line-height: 44px;
    border-radius: 8px;
    border-color: #e5e5e5;
    border: none;
    border: 1px solid #e5e5e5;
    padding-left: 8px;
}

/*------   select样式E   */
.search .timeH {
    position: relative;
}

.search .timeH .newTime {
    position: absolute;
    right: 24px;
    top: 2px;
}

.search .timeTxt {
    display: inline-block;
    margin: 0 6px;
}

.search .timeH .newFrom {
    margin-bottom: 0;
!important;
}

.search .timeH .newFrom .newInputH {
    height: 44px;
    line-height: 44px;
    border-radius: 10px;
    width: 90px;
}

.search .size-m {
    width: 130px;
    height: 44px;
    border-radius: 10px;
    padding-left: 15px;
}

.search .btnH {
    color: #fff;
    background: #11A9Ec;
    height: 38px;
    border-radius: 8px;
    margin-left: 10px;
}

/*---------------   表格  --------------*/
.comTable .layui-table th {
    border: none;
    cursor: pointer;
}

.comTable .layui-table th.textAlian {
    text-align: center;
}

.comTable i.tableI {
    width: 20px;
    height: 20px;
    background: url("/image/index/xuan.png") no-repeat;
    display: inline-block;
    cursor: pointer;
    vertical-align: sub;
    margin-right: 10px;
}

.comTable i.hover1 {
    background-position: right top;
}

.comTable .layui-table td {
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.comTable .layui-table td.textAlian {
    text-align: center;
}

.comTable .layui-table .textAlian {
    text-align: center;
}

.comTable .imgTxt {
    display: inline-block;
    margin-left: 5px;
}

.comTable .moeny {
    color: #FF5C26;
    font-size: 16px;
}

.comTable .operation .operationA {
    display: inline-block;
    width: 52px;
    height: 28px;
    border-radius: 6px;
    position: relative;
    vertical-align: middle;
}

.comTable .operation .operationA em {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 50%;
    margin-left: -8px;
    color: white;
}

.comTable .tableFoot {
    height: 100px;
    background: #fff;
    padding-top: 20px;
}

.comTable .tableFoot .footTxt {
    display: inline-block;
    margin-left: 8px;
    margin-top: 12px;
    position: relative;
}

.comTable .tableFoot .footTxt label {
    margin-left: 5px;
    vertical-align: middle;
}

.comTable .tableFoot .btnTotal {
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
}

.comTable .tableFoot .demo4 {
    float: right;
    margin-right: 30px;
}

.comTable .tableFoot .total .footTxt {
    display: inline-block;
}

.tableFoot .footTxt .txt1 {
    position: absolute;
    top: 7px;
    left: 26px;
}

.tableFoot .dataTable {
    margin: 10px 0 10px 10px;
    font-size: 15px;
}

/*--------------------------------  goodsList.html  ---------------------------------------------*/
.comTable .operation .operationA .iconTxt {
    font-size: 14px;
    margin-left: -14px;
    margin-top: -10px;
}

.comTable .operation .bg1 {
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

.comTable .operation .bg2 {
    background-color: #FFBB44;
}

.comTable .operation .bg3 {
    background-color: #7ACE4C;
}

.comTable .operation .bg5 {
    background-color: #11A9EC;
}

.comTable .state {
    color: #7ACE4C;
    font-size: 16px;
}

.bgColor1 {
    background-color: #11A9EC;
}

.bgColorGreen {
    background-color: #7ace4c;
}

.comTable .operation a.newStyleA {
    text-align: center;
    line-height: 28px;
    color: #fff;
}

.comTable .tableBtnH {
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

/*---------------------------------------    shopComment          ----------------------------------------*/
.comTable .operation .operationB {
    height: 30px;
    line-height: 30px;
    width: 38%;
    display: inline-block;
    border-radius: 6px;
    text-align: center;
}

/*默认状态*/
.input-text {
    box-sizing: border-box;
    border: solid 1px #ddd;
    width: 100%;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s
}

.input-text:hover, .textarea:hover {
    border-color: #76bdff;
    -moz-box-shadow: 0 0 10px #ddeeff;
    -webkit-box-shadow: 0 0 10px #ddeeff;
    box-shadow: 0 0 10px #ddeeff;
}

/*得到焦点后*/
.input-text.focus, textarea.focus {
    border: solid 1px #0f9ae0 \9;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)
}

/*不可点击*/
.input-text.disabled, .textarea.disabled, .input-text.disabled.focus, .textarea.disabled.focus {
    background-color: #ededed;
    cursor: default;
    border-color: #ddd;
    -webkit-box-shadow: inset 0 2px 2px #e8e7e7;
    -moz-box-shadow: inset 0 2px 2px #e8e7e7;
    box-shadow: inset 0 2px 2px #e8e7e7
}

/*只读状态*/
.input-text.disabled, .textarea.disabled {
    background-color: #e6e6e6;
    cursor: default
}

/*阴影*/
.input-text.box-shadow, .textarea.box-shadow {
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

/* ---------------------------------------------------    asFlight    ------------------------------------------------------------*/
.navH li {
    float: left;
    width: 90px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #F2F2F2;
    border: 1px solid #e5e5e5;
    margin-right: 10px;
    border-bottom: none;
}

.navH li.ys {
    background-color: #fff;
    color: #11A9EB;
}

.nav-box {
    width: 100%;
    height: 100%;
    display: none;
    background-color: #fff;
}

.nav-box .doSome {
    height: 90px;
    width: 100%;
    background-color: #fff;
}

.changeBtn {
    border-radius: 8px;
}

.nav-box .doSome i.icon-tianjia1 {
    vertical-align: middle;
    margin-right: 6px;
}

/*---------------------------------- 弹窗S-------------------------------------- */
.Popup {
    padding-left: 25px;
}

.Popup .headerTxt1 {
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    color: #11A9EB;
}

.Popup .selBox {
    width: 100%;
    position: relative;
}

.Popup .selBox .nice-validator {
    display: inline-block;
}

.Popup .selBox .inputstyle {
    height: 38px;
    width: 310px;
    border-radius: 8px;
    padding-left: 34px;
}

.Popup .selBox .serchH {
    border-radius: 8px;
    padding: 0 14px;
    margin-left: 10px;
}

.Popup .selBox .icon-sousuo {
    position: absolute;
    top: 11px;
    left: 10px;
}

.Popup .styleDiv {
    text-align: center;
    margin-top: 20px;
}

.btnRuduis {
    border-radius: 8px;
}

/*---------------------------     弹窗E      --------------------------*/
/*------------------------    baseMsg        ----------------------------------------------*/
.baseMsg {
    padding: 0 25px;
    height: 100%;
}

.baseMsg .Hitem {
    margin-bottom: 20px;
}

.hdT {
    height: 60px;
    font-size: 16px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.hdT::before {
    content: "";
    width: 2px;
    height: 19px;
    background-color: #11A9EC;
    display: inline-block;
    margin-right: 5px;
    vertical-align: sub;
}

.hdT .txt88 {
    display: inline-block;
    line-height: 60px;
}

select.width170 {
    width: 170px;
!important;
}

.baseMsg .txtH1 {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 110px;
    text-align: right;
    text-align: -webkit-right;
    margin-right: 25px;
}

.txtInputH {
    display: inline-block;
    width: 240px;
    height: 40px;
    border-radius: 8px;
    padding-left: 10px;
}

.start {
    color: #ff5555;
    margin-left: 2px;
    font-size: 24px;
    vertical-align: middle;
    margin-right: 8px;
}

.baseMsg select.width242 {
    width: 242px;
}

.baseMsg .Hitem2 .itemDiv2 {
    display: inline-block;
    width: 40%;
}

.baseMsg .txtInputWid {
    display: inline-block;
    width: 80px;
    height: 40px;
    border-radius: 8px;
    padding-left: 10px;
    margin-right: 20px;
}

.baseMsg .borderBtn {
    border: 1px solid #11A9EC;
    color: #11A9EC;
}

/*--------------------------   商品详情   -------------------------- */
.goodsMsg {
    padding: 0 25px;
    /*min-height: 1100px;*/
}

.goodsMsg .uploadImg {
    margin: 30px 0;
    width: 100%;
}

.goodsMsg .uploadImg ul li {
    float: left;
    height: 182px;
    margin-right: 2%;
    position: relative;
}

.goodsMsg .uploadImg ul li section.up-section {
    display: inline-block;
}

.goodsMsg .uploadImg ul li i.iconPlg {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #9E9E9E;
    font-size: 34px;
    margin-top: -20px;
    margin-left: -17px;
    cursor: pointer;
}

.goodsMsg .uploadImg ul li input.fileImg {
    width: 100%;
    height: 120px;
    opacity: 0;
}

.goodsMsg .goodsMsgItem .tipTxt {
    color: #9E9E9E;
}

.goodsMsg .txtH2 {
    display: inline-block;
    margin-right: 20px;
    width: 80px;
    text-align: -webkit-right;
    text-align: right;
}

/*--------------------------------------    库存管理          ----------------------------------*/
.kucui .CssDiv {
    display: inline-block;
    line-height: 90px;
    margin-left: 20px;
    color: #11A9EC;
    font-size: 17px;
}

/*-------------------------------      brandList.html          --------------------------------------*/
.brandList .brandPopup {
    height: 90px;
    background: #fff;
    padding-top: 25px;
}

.brandList .icon-tianjia1 {
    vertical-align: middle;
    margin-right: 6px;
}

.comTable .textAlign {
    text-align: center;
    text-align: -webkit-center;
}

/*-----------------------------------   addBrand.html   ------------------------------------- */
.addBrand {
    background: #fff;
    height: 100%;
    padding: 60px 0 0 50px;
    min-height: 910px;
}

.txtH1 {
    display: inline-block;
    width: 100px;
    height: 50px;
    margin-right: 20px;
    line-height: 50px;
    text-align: right;
}

.plugImg {
    width: 150px;
    height: 100px;
    border: 1px dashed #e5e5e5;
    display: inline-block;
    border-radius: 10px;
}

.addBrand .textareaH {
    margin-left: 0;
    display: inline-block;
    width: 700px;
}

/*-----------------------    最外面的tab栏部分      -----------------------------*/
.headerTxt {
    height: 70px;
}

.headerTxt .curTxt1 {
    font-size: 22px;
    color: #11A9EB;
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 20px 10px 0 0;
}

.headerTxt .jsNav {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin-top: 28px;
}

.headerTxt .jsNav a {
    font-size: 15px;
    color: #9e9e9e;
    display: inline-block;
}

.headerTxt .jsNav a:visited {
    text-decoration: none;
}

.headerTxt .jsNav .jiantou {
    padding: 0 5px;
}

/*--------------------------   店铺管理块的样式  ---------------------------*/
.shopMsg .navH .shopLi {
    width: 120px;
    text-align: center;
}

.btnHeight {
    padding-top: 6px;
}

.btnHeight button {
    height: 40px;
}

.shopMsg .search {
    height: 110px;
}

.green {
    color: #79CC4C;
}

.shopMsg .iconTxt2 {
    margin-top: -10px;
}

.comTable .operation .operationE {
    background-color: #ff5c26;
}

.comTable .operation .operationE .icon-yanjing1 {
    font-size: 24px;
    margin-left: -14px;
}

.TimeSelect {
    position: relative;
}

.TimeSelect .newTime {
    display: inline-block;
    position: absolute;
}

/*--------------------------  enterContract.html  -------------------------*/
.enterContrant .txtH1 {
    display: inline-block;
    width: 108px;
    height: 50px;
    margin-right: 30px;
    line-height: 50px;
    text-align: right;
}

.fontColor1 {
    color: #FF4C4C;
    text-align: center;
    font-size: 17px;
}

.fontColor2 {
    background-color: #FF5C26;
    color: #fff;
}

.fontColor3 {
    background-color: #fff;
    color: #11A9EC;
}

.fontColor5 {
    background-color: #fff;
    color: #FFBA44;
}

.wid90 {
    width: 90%;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

/*------------------------    contractMsg.html  -------------------------*/
.comTable .tableTotal {
    padding-top: 20px;
    margin: 0 0 10px 18px;
}

/*---------------------------------  rechageShop.html  ------------------------*/
.bgColor {
    background-color: #7ACE4C;
}

.bgColor2 {
    background-color: #e5e5e5;
    color: #000000;
}

.bgColor3 {
    background-color: #7ACE4C;
}

.bgColor5 {
    background-color: #2db200;
}

.bgColor6 {
    background-color: #ff7373;
}

.fontCoWither {
    color: #fff;
}

/*--------------------------------    businessMsg.html      -------------------------------------------------------*/
.popCom {
    padding-left: 25px;
}

.popCom form.layui-form {
    width: 520px;
}

.popCom .PopHeader {
    height: 70px;
    line-height: 70px;
    background-color: #fff;
    color: #11A9EB;
    font-size: 18px;
}

.popCom label.popLabel {
    width: 90px;
}

.wid110 {
    width: 110px;
}

.newsContent .timePading {
    display: inline-block;
    height: 38px;
    line-height: 38px;
}

/*---------------------------------   lookEvalute.html  ---------------------------------------*/
.evaluateMain .mianDiv {
    width: 42%;
    height: 100%;
    background-color: #fff;
    padding: 0 2%;
    margin-right: 4%;
    min-height: 650px;
}

.evaluateMain .mianDiv .person {
    width: 100%;
}

.evaluateMain .mianDiv .person img {
    width: 45px;
    border-radius: 50%;
    display: inline-block;
}

.evaluateMain .mianDiv .urseTxt {
    margin: 10px 0;
    width: 80%;
}

.evaluateMain .mianDiv ul {
    width: 100%;
}

.evaluateMain .mianDiv ul li {
    float: left;
    width: 22%;
    overflow: hidden;
    margin-right: 4%;
    margin-bottom: 15px;
}

.box {
    height: 100%;
    width: 82%;
    margin: 20px 0;
    position: relative;
}

.box .boxcontent {
    width: 100%;
    border: 1px solid #ccc;
    padding: 20px 0 0 20px;
}

.box .second-arrow:before, .second-arrow:after {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    content: "";
    border: solid transparent;
    line-height: 0;
}

.box .second-arrow:before {
    left: 10px;
    top: -16px;
    border-bottom: solid #ccc;
    border-width: 8px;
}

.box .second-arrow:after {
    left: 9px;
    top: -15px;
    border-bottom: solid #fff;
    border-width: 9px;
}

/*-------------------------   AricleClassList.html  ------------------------------*/
.ArticeContet label.Label1 {
    width: 110px;
}

/*------------------   addArtice.html  ----------------------*/
.inlineBlock {
    display: inline-block;
}

.addArticle {
    background: #fff;
    height: 100%;
    padding: 60px 0 0 30px;
    min-height: 910px;
}

label.labelWidth {
    width: 110px;
    margin-right: 30px;
}

.addArticle .widthNew26 {
    width: 26%;
}

.addArticle .widthNew60 {
    width: 60%;
}

/*--------------------------  reChangeMsg.html  --------------------------------*/
.reChangeMsg .bootDiv {
    background-color: #fff;
    margin-right: 8%;
    padding: 0 0;
}

.reChangeMsg .imgBody {
    padding: 30px 0;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 40px;
}

.imgBody .imgBodyDiv {
    width: 90px;
    height: 90px;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    display: block;
}

.pdlr20 {
    padding: 0 20px;
}

.reviseTime {
    width: 140px;
}

.colorTxt {
    color: #a5a5a5;
    margin-bottom: 5px;
}

.reChangeMsg ul li {
    float: left;
    width: 40%;
    margin-bottom: 25px;
}

.reChangeMsg .z_file .add-img {
    display: block;
    width: 100%;
    height: 100%;
}

.aBtnNew {
    background: #11a9ec;
    color: #fff;
}

.aBtnNew:hover {
    color: #fff;
!important;
}

.aBtnNewWhite {
    background: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*------------------------------------*/
.jsfBtnCon .PopHeader {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.jsfBtnCon .Hjsform {
    padding: 0 10%;
}

.jsfBtnCon .Hjsform textarea {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    padding: 5px 0 0 10px;
}

.jsfBtnCon .Hjsform .tishi {
    font-size: 12px;
    color: #ccc;
}

.jsfBtnCon .Hjsform .jsBtn {
    text-align: center;
    margin-top: 25px;
}

/*-------------------------- cashDeposite.html ---------------------------*/
.cashDeposite .cash {
    padding-top: 20px;
    margin-bottom: 20px;
}

.cashDeposite .cash .imgBodyDiv {
    margin: 0;
    display: inline-block;
    margin-right: 20px;
}

.cashDeposite .cash .bigCash {
    color: #ff4c4c;
    font-size: 30px;
}

.cashDeposite .comTable tr.newTR {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.cashDeposite .mianDiv {
    width: 44%;
}

.comTable .moneyColor {
    color: #11a9ec;
    font-size: 16px;
}

.cashDeposite .comTable table thead {
    display: block;
}

.cashDeposite .comTable table tbody {
    display: block;
    height: 240px;
    overflow-y: scroll;
}

/*----------------------------- shopCategory.html -------------------------------*/
.goodCategory .CategoryHead {
    height: 70px;
    background: #f2f2f2;
    padding-top: 25px;
    font-size: 17px;
    color: #11A9EB;
}

.goodCategory .mianDiv .txt2 {
    border-bottom: 1px solid #e5e5e5;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    margin-bottom: 25px;
}

.goodCategory .list {
    width: 100%;
    border-spacing: 0px;
}

.goodCategory .list td, .list th {
    box-sizing: border-box;
}

.goodCategory .list td {
    line-height: 30px;
}

.goodCategory .name {
    padding-left: 10px;
}

.goodCategory .inner { /* .inner默认隐藏 */
    display: none;
}

.inner.open {
    display: table-row; /* 有这个类的元素可以看做是一个 tr */
}

.goodCategory .switch, .goodCategory .ico {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("/image/index/icon(1).png");
    vertical-align: text-top;
}

.goodCategory .leaf .ico {
    background-position: -141px -847px;
    width: 20px;
}

.goodCategory .outer .ico {
    background-position: -141px -847px;
    width: 20px;
}

.goodCategory .outer.open .ico {
    background-position: -141px -847px;
}

.goodCategory .outer .switch {
    background-position: -26px -848px;
}

.goodCategory .outer.open .switch {
    background-position: -82px -850px;
}

.goodCategory .text-indent {
    display: inline-block;
    width: 16px;
}

.goodCategory .list a {
    border: none;
    color: #2fb4ee;
    font-size: 15px;
    text-decoration: none;
}

.goodCategory .list a:hover {
    color: #2fb4ee;
    text-decoration: none;
}

.pdl20 {
    padding-left: 20px;
}

/*-------------------------   goodsCate.html   ----------------------------*/
.goodsCate .jsNav {
    height: 50px;
    margin-left: 0;
    background-color: #f2f2f2;
}

.goodsCate .jsNav ul {
    padding-left: 0;
}

.mytable td.operation a.operationA {
    line-height: 31px;
    color: #fff;
}

.mytable .icon-down-arrow-02, .mytable .icon-xiangshangjiantou {
    color: #dbdbdb;
    vertical-align: middle;
}

/*---------------------------- editGoodsList.html---------------------------*/
.deitGoodsList {
    background-color: #fff;
    padding: 50px 0 0 70px;
}

.deitGoodsList .likeSelect {
    display: inline-block;
    position: relative;
}

.deitGoodsList .likeSelect i.icon-jiantou2 {
    position: absolute;
    right: 13px;
    top: 13px;
}

.deitGoodsList .likeSelect em {
    position: absolute;
    height: 40px;
    right: 41px;
    z-index: 500;
    border: 1px solid #f0f0f0;
}

/* 弹框样式 */
.editGoods {
    display: none;
}

.editGoods .popSelectGood {
    border: 1px solid #e5e5e5;
    width: 80%;
    margin-top: 25px;
    padding: 10px;
    margin-bottom: 50px;
}

.editGoods .popSelectGood .list tbody.tbodyH {
    display: block;
    height: 200px;
    overflow-y: scroll;
    width: 100%;
    overflow-x: hidden;
}

.editGoods .popSelectGood .list .jstr {
    border: 1px solid #00DC91;
}

.editGoods .popSelectGood .list .jstr td {
    position: relative;
}

.editGoods .popSelectGood .list .jstr .name:after {
    display: block;
}

.editGoods .popSelectGood .name:after {
    content: '';
    position: absolute;
    right: 14px;
    top: 9px;
    width: 12px;
    height: 10px;
    display: none;
    background: url("/image/index/checked_2x.png") no-repeat center center;
    background-size: 100% auto;
}

.deitGoodsList .upimg-div {
    position: relative;
}

.deitGoodsList .upimg-div .txt.current {
    height: 40px;
    display: block;
    z-index: 800;
}

.deitGoodsList .upimg-div .txt {
    position: absolute;
    bottom: 5px;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    color: #fff;
    width: 190px;
    height: 0px;
    z-index: 800;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    transition: height 0.3s ease;
    -moz-transition: height 0.3s ease; /* Firefox 4 */
    -webkit-transition: height 0.3s ease; /* Safari 和 Chrome */
    -o-transition: height 0.3s ease; /* Opera */
}

/*-----------  类目开始 -----------*/
.cateComContent {
    width: 100%;
    background-color: #fff;
    min-height: 350px; /*这里的高度先定死*/
    padding-top: 20px;
    display: none;
}

.catetop {
    margin-left: 26px;
    font-size: 18px;
}

.cateComContent .brandBox {
    display: inline-block;
    margin-right: 20px;
    overflow-y: scroll;
    width: 400px;
    height: 54px;
    overflow-x: hidden;
}

.cateComContent .brandBox ul li {
    float: left;
    margin-right: 2%;
    margin-bottom: 10px;
}

.cateComContent .brandBox ul li i {
    width: 20px;
    height: 20px;
    background: url("/image/index/xuan.png") no-repeat;
    display: inline-block;
    cursor: pointer;
    vertical-align: sub;
    margin-right: 10px;
}

.cateComContent .brandBox ul li i.hover1 {
    background-position: right top;
}

.cateComContent .comTable {
    width: 700px;
    padding: 20px 0 0 20px;
}

.cateComContent .comTable thead th {
    text-align: center;
}

.cateComContent .comTable tr td {
    text-align: center;
}

/*------------------------------  memberList.html -----------------------------------*/
.comTable .comTableBlue {
    color: #88d4f6;
}

.comTable .tdColor {
    color: #ff7373;
}

.comTable .aColor1 {
    background-color: #ff7373;
}

.table1 {
    width: 100%;
    height: 400px;
    background-color: #fff;
}

/*-----------------------   addTakeself.html  ---------------------*/
.takeSelf .txtH3 {
    display: inline-block;
    width: 108px;
    height: 50px;
    margin-right: 30px;
    line-height: 50px;
    text-align: left;
}

.takeSelf .selCom select {
    width: 140px;
    height: 38px;
    margin-right: 6px;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    padding: 8px 0;
}

.takeSelf .selctNone {
    display: none;
}

/*----------------------addProtetryList.html-------------------------------*/
.addproCont {
    background-color: #fff;
    min-height: 550px;
    padding: 60px 0 0 60px;
}

.addproCont .addProItem {
    margin-bottom: 20px;
}

.addproCont .addProItem .ProMain {
    margin-left: 125px;
}

.addProItem .comPro {
    background-color: #f5f5f5;
    width: 900px;
    padding: 8px 0 12px 8px;
    border-bottom: 1px solid #e5e5e5;
}

.addProItem .proName {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    width: 45px;
    text-align: center;
    margin-right: 10px;
}

.addProItem .selectHnew {
    width: 100%;
    height: 34px;
    line-height: 34px;
    border-radius: 8px;
    border-color: #e5e5e5;
    border: none;
    border: 1px solid #e5e5e5;
    padding-left: 8px;
}

.addProItem .comInput {
    display: inline-block;
    width: 120px;
    height: 34px;
    line-height: 34px;
    border-radius: 8px;
    padding-left: 10px;
    margin: 0 20px 10px 0;
}

.addProItem .inputItme {
    display: inline-block;
    width: 250px;
    height: 40px;
    line-height: 40px;
    border-radius: 8px;
}

.addProItem .addProBtn {
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 8px;
    background-color: #fff;
    boder: 1px solid #e5e5e5;
    color: #11A9EB;
    border: 1px solid #11A9EB;
    margin-left: 122px;
}

.addProItem .comPro .icon-jianhao {
    color: red;
    margin-right: 10px;
}

.search .inputFa {
    position: relative;
}

.search .inputFa .inputstyle {
    padding-left: 32px;
    width: 180px;
}

.search .inputFa .icon-sousuo {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 10px;
}